@tailwind base;
@tailwind components;
@tailwind utilities;
 

.hazard {
  
  --tw-bg-opacity: 1;
  background-image:repeating-linear-gradient(-55deg, rgb(248 206 106  / var(--tw-bg-opacity)),rgb(248 206 106  / var(--tw-bg-opacity)) 20px, 20px, rgb(209 167 68 / var(--tw-bg-opacity)) 40px);

}

/* Cross fade classes stolen with love from https://github.com/vercel/next.js/discussions/48925 */
.cross-fade {
  position: inherit;
}

.cross-fade img {
  position: absolute;
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
} 

.cross-fade img:first-child {
  opacity: 1;
}

.cross-fade:hover img {
  opacity: 1;
}

.cross-fade:hover img:first-child {
  opacity: 0;
}